 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Calistoga&family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@1,300;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     overflow-x: hidden;
     font-family: "Montserrat", sans-serif;
     position: relative;
     background: #fff;
     font-size: 16px;
     color: #555555;
     line-height: 1.7;
     font-weight: 400;
 }

 /*top-bar start*/
 .top-bar {
     background-color: #011a48;
     height: 57px;
     display: flex;
     align-items: center;
 }

 .header-top-left a {
     font-size: 15px;
     color: white;
     text-decoration: none;
     padding-left: 15px;
 }

 .header-top-left a:hover,
 .header-social-link a i:hover {
     color: #F7941D;
     transition: 0.5s ease all;
 }

 .header-top-left i {
     color: white;
 }

 .header-social-link a i {
     color: white;
     margin-left: 22px;
 }

 /*top-bar end*/
 /*navbar start*/
 .nav-wrap {
     top: 0;
     left: 0;
     position: sticky;
     width: 100%;
     z-index: 9;
     background-color: #fff;
     height: 80px;
     box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
     animation: slideDown 0.3s ease;
 }

 .nav-item {
     margin-left: 22px;
 }

 .navbar-collapse ul li a {
     color: #222222;
     font-size: 13px;
     font-weight: 500;
     display: block;
     text-transform: uppercase;
     font-family: "Montserrat", sans-serif;
 }

 .navbar-collapse ul li a i {
     font-size: 15px;
     padding-left: 5px;
 }

 .no-caret::after {
     display: none !important;
 }

 .nav-item .active {
     color: #F7941D !important;
 }

 .dropdown-menu {
     border: none !important;
 }

 /*navbar end*/
 /*breadcrum start*/
 .coords {
     background-color: #011a48;
     padding: 95px 0 100px;
     text-align: center;
 }

 .coords h2 {
     color: #fff;
     font-size: 30px;
     line-height: 1;
     font-weight: 500;
 }

 .breadcrumb li a {
     color: #fff;
     font-size: 14px;
     font-weight: 400;
     text-transform: capitalize;
     text-decoration: none;
 }

 .breadcrumb li a:nth-child(3) {
     color: #F7941D;
 }

 /*breadcrum end*/
 .service-rating {
     color: #F7941D;
 }

 .btn-theme {
     font-size: 14px;
     color: #fff;
     font-weight: 600;
     background-color: #F7941D;
     padding: 18px 30px;
     border-radius: 50px;
 }

 .btn-theme:hover {
     background-color: #222222;
     color: #fff;
     transition: 0.5s all;
 }

 /*footer start*/
 .footer-widget {
     background-color: #f3f5f6;
     width: 100%;
     max-width: 100%;
     height: 409px;
     background-color: #f3f5f6;
 }

 .footer-single-widget h5 {
     font-size: 14px;
     color: #222222;
 }

 .widget-body ul li {
     list-style-type: none;
 }

 .widget-body ul li a {
     font-size: 14px;
     color: #222222;
     text-decoration: none;
 }

 .widget-social-link a {
     padding-top: 20px;
     color: #222222;
     font-size: 16px;
     display: inline-block;
     line-height: 1;
     text-align: center;
     margin-right: 15px;
 }

 .newsletter-inner .news-field {
     width: 100%;
     height: 44px;
     border: none;
     line-height: 1;
     color: #222222;
     background-color: #e5e5e5;
     position: relative;
     padding: 5px 55px 5px 10px;
 }

 .newsletter-inner .news-btn:hover {
     background-color: #222222;
 }

 .newsletter-inner .news-btn {
     font-size: 18px;
     height: 44px;
     color: #fff;
     line-height: 1;
     font-weight: 400;
     padding: 0 15px;
     display: inline-block;
     background-color: #F7941D;
     border: none;
 }

 .footer-bottom {
     background-color: #dadada;
     padding: 14px 0;
 }

 .copyright-text a {
     text-decoration: none;
     color: #F7941D;
 }

 .section-padding {
     padding: 110px 0;
 }

 /*footer end*/
 /*our-serices end*/
 @media (max-width: 576px) {
     .section-padding {
         padding: 63px 0;
     }

     .navbar-collapse {
         background-color: rgb(238, 238, 238);
     }

     .carousel-inner img {
         width: 390px;
         height: 350px;
     }

     .service-details-img {
         padding-bottom: 20px;
     }

     .slide-title {
         font-size: 25px;
         white-space: nowrap;
     }

     .custom-caption {
         right: auto !important;
         left: -5% !important;
         text-align: left;
     }

     .btn-hero {
         padding: 10px 15px;
     }

     .footer-widget {
         height: 750px;
     }
 }